<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <title>Facelet Title</title>
    </head>
    <body>
        <h1>Login</h1>
        
        <h:form>
            
            Login
            <h:inputText value="#{loginMB.nome}"/>
            <br/>
            senha
            <h:inputSecret value="#{loginMB.senha}"/>
            <br/>
            #{loginMB.msgErro}
            <br/>
            
            <h:commandButton value="Logar" action="#{loginMB.verificaPassword()}"/>
        </h:form>
        
        
    </body>
</html>

