<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <!--  <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <link rel="stylesheet" href="css/default.css"/>
        <title><ui:insert name="title">Facelets Template</ui:insert></title>-->
      <!--===============================================================================================-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css" integrity="sha512-LeCmts7kEi09nKc+DwGJqDV+dNQi/W8/qb0oUSsBLzTYiBwxj0KBlAow2//jV7jwEHwSCPShRN2+IWwWcn1x7Q==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/home.css" />
        <!--===============================================================================================-->

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <title><ui:insert name="title">ZPG investimentos</ui:insert></title>
    </h:head>

    <h:body>

        <header>
            <nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="btn btn-dark navbar-toggle pull-left menu-toggle"  data-target="#side-bar">
                            <i class="oi oi-menu"></i>
                        </button>
                        <a class="navbar-brand " href="#">ZPG Investimentos 
                        </a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="layout-main"> 

            <aside class="wrapper" id="side-bar">
                <nav id="menu" class="sidebar sidebar-open">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link " href="control?ac=home"> <i
                                    class="oi oi-home"></i> <span>Home</span>
                            </a></li>
                    </ul>
                    
                        <ul class="nav nav-pills" >
                            <li class="nav-item"><span class="nav-link active" >Administração</span></li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   href="#"> <i class="oi oi-cart"></i> <span>Investir</span>
                                </a>
                            </li>                           
                                                      
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="#"> <i class="oi oi-cart"></i> <span>Relatórios</span>
                                </a>
                            </li>                           
                        </ul>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><span class="nav-link active" >Geral</span></li>
                        <li class="nav-item">
                            <a class="nav-link " href="#"> <i class="oi oi-spreadsheet"></i>
                                    <span>Meus Dados</span>
                            </a>
                        </li>
                        <li class="nav-item"><span class="nav-link active" >Investimento</span></li>
                        <li class="nav-item">
                            <a class="nav-link " href="#"> <i class="oi oi-spreadsheet"></i>
                                    <span>Novo Investimento</span>
                            </a>
                        </li>

                        <li class="nav-item" >
                            <a class="nav-link " href="control?ac=logout"> 
                                <i class="oi oi-account-logout"></i> <span>Sair</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="content" class="left_content">
                    <ui:insert name="content">content</ui:insert>
                </div>
            </aside>
        </div>
          <footer class="layout-footer">
            <div class="container">
                <span class="footer-copy">&copy; 2021 ZPG Investimentos Web. Todos os direitos reservados.</span>
            </div>
        </footer> 
 </h:body>
</html>
